.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  .title{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .content{
    width: 860px;
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .link-newTodo{
    padding: 10px 20px ;
    background-color: #d9d9d9;
    margin-top: 20px;
    font-size: 1.3rem;
  }
}